@import "./variables";
@import "./mixins";

body {
    @include gradient(left, $list1);
}


.main-display {
    background-color: $contColor ;
}

header {

    @include centerItems(center);

    color: $primaryColor;
    font-family: $headerFont;
    background-color: $contColor;
    border-radius: $borderRadius;
    padding: $titlePadding;
}

.main-budget {
    font-family: $textFont;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $contColor ;
    border-radius: 5px;

    button {
        font-family: $buttonFont;
    }

    .user-income {

        @include centerItems(center);
        @include boxBackground();
        display: flex;
        flex-wrap: wrap;
        
        h2 {
            margin: 0;
        }
    }

    .user-expenses {

        @include centerItems(center);
        @include boxBackground();
        
        h2{
            margin: 0;
        }
    }

    input {
        @include inputStyle();
        margin: 5px;
    }

    #validation-income, #validation-inc_number, #validation-exp_name, #validation-expense {
        @include errorText();
    }

    #income-container div {
        @include incomeColor();
        transform-origin: center;
        animation: expandFromMiddle 0.6s ease-out;
    } 

    @keyframes expandFromMiddle {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    

    #expense-container div {
        @include expenseColor();
        transform-origin: center;
        animation: expandFromMiddle 0.6s ease-out;
    }
}









